
::-webkit-scrollbar {
  background: transparent !important;
  height: 0px;
  width: 0px;
 }
::-webkit-scrollbar-thumb {
  background: #f0ededda;
  border-radius: 10px;
 }

.scrollHr::-webkit-scrollbar {
  background: transparent !important;
  height: 0px;
  width: 0px;
 }
 .scrollHr::-webkit-scrollbar-thumb {
  background: #f0ededda;
  border-radius: 10px;
 }

 /* .bottomnav a.active {
    color: #171766;
 } */
